.container__shopping__cart {
    flex-direction: column;
    width: 30%;
    height: 100%;
    flex-wrap: wrap;
    margin: 15px 40px 0 0;
  

}

.container__shopping__cart,
.container__cart__features,
.feature__container,
.container__finishing__button {
    display: flex;
    flex-wrap: wrap;
}

.container__cart__features {
    justify-content: space-between;
}


.container__shopping__cart img {
    width: 60%;
}

.card__inner__container {
    width: 40%;

}

.container__cart__features {
    width: 100%;
    margin-bottom: 15px;

}

.quantity {
    display: inline-block;
    margin-right: 5px;
}

.feature__container {
    width: 65%;
    align-items: center;

}

.add__button, .remove__button {

    cursor: pointer;
    background: none;
    color: white;
    font-size: 25px;
    width: 35px;
}

.add__button {
    background-color: green;
}

.remove__button {
    background-color: red;
}


.header__shopping__cart {
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}

.container__finishing__button {
    padding-top: 50px;

}

.finished {
    padding: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: rgb(255, 167, 60);
    cursor: pointer;
}

.empty__cart {
    font-size: 35px;
    background-position: center;
    margin-top: 30%;
}